# CANopenNode CANopen protocol stack configuration options
#
# Copyright (c) 2019 Vestas Wind Systems A/S
# SPDX-License-Identifier: Apache-2.0

config CANOPENNODE
	bool "CANopenNode support"
	depends on CAN
	help
	  This option enables the CANopenNode library.

if CANOPENNODE

source "modules/canopennode/Kconfig.roles"
source "modules/canopennode/Kconfig.core"
source "modules/canopennode/Kconfig.optional"

# Conditionally include Zephyr-specific config
if ZEPHYR_BASE
source "modules/canopennode/zephyr/Kconfig.zephyr"
endif

endif # CANOPENNODE
